[run]
omit =
    */tests/*
    */admin.py
    */apps.py
    */manage.py
    */settings/*
    */migrations/*
    */webtests/*
    */data/*
    */mavedb/*
    */requirements/*
    *.md
    *.sh
    *.txt
    LICENCE
    celeryd
