venv/
.envrc
sphinx-venv/
*.pyc
staticfiles/
static/*
!static/.gitkeep
logs/*
!logs/.gitkeep
media/*
.env
debug.log
.pytest_cache/*
docs/build
docs/mavehgvs
docker/nginx/nginx.conf
*.cert
*.key

geckodriver.log
*.pyc
.sql

# vscode
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
docs/docs/build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# mypy
.mypy_cache/*

# postgres
*.dump

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Ignore secrets
secrets.json
.settings-*.env

/.ipynb_checkpoints/regex-test-checkpoint.ipynb
*-checkpoint.ipynb
.ipynb_checkpoints/
/uml.pdf
/uml.dot
/cprofile/
cprofile/*
default/
