/* Global 
----------------------------------- */
* {
    font-family: 'Raleway', sans-serif;
    border-radius: 0 !important;
    /* border: 1px solid red !important; */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
;    box-sizing: border-box;
}

body {
    /*margin: 1%;*/
}

pre {
	margin-left: 1%;
	margin-right: 1%;
}

form > input {
    width: 50%;
}

input {
    width: 50%;
}
input[type=button],
input[type=checkbox],
input[type=number] {
    width: auto;
}

.full-height {
    min-height: 85vh;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: black !important;
}

.select2 {
    margin-bottom: 15px;
}

/* Fixes resizing issue with select2 components */
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.border-secondary {
    border-color:rgba(0,0,0,.1) !important;
}

.download-btn {
    color: #222 !important;
}
.download-btn:hover {
    border: 1px solid #222 !important;
    color: white !important;
}

ul {
    list-style-type: square;
}

/* Tables
---------------------------------- */
table td, 
table th {
    white-space: nowrap !important;
    width: 1% !important;
}
table {
    max-width: none;
}

.numeric-container,
.table-container {
    border: 2px solid #987cb8;
    padding: 0 0.25px 0.25px 1px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.styled-table {
    margin-bottom: 0; 
    background: whitesmoke;
}
.styled-table th {
    background: #dadff1;
}
.table thead th, 
.table tbody td  {
    font-size: 14px;
    line-height: 0.10em;
    border: 1px solid white;
}

.styled-table .input-group .form-control,
.table {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.styled-table .filters th .textinput.textInput.form-control {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    max-width: 80%;
    
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* navbar/header/footer Formatting 
----------------------------------- */
.footer {
    float: right;
    margin-bottom: 10px;
}
.sidebar {
    min-height:80vh !important;
    width:200px !important;
}

/* Navbar / search box
------------------------------------ */
.nav-link {
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
}

/* Logo Formatting
----------------------------------- */
.logo > img {
    display: block;
    margin: auto;
    width: 92px;
    height: 92px;
}


/* body-block formatting
----------------------------------- */
.body-block {
    margin: 2%;
}

.news {
    padding: 1em;
    height: 50%;
    border: 1px ridge rgba(0,0,0,.1);
    border-radius: 1%;
    overflow-y: scroll;
}


/* Tocbot
---------------------------------------- */
.js-toc {
    background: #fff;
    z-index: 999;
}

@media (max-width: 800px) {
    .js-toc {
        width: 100%;
        margin-bottom: 25px;
    }
    .sidebar {
        min-height: auto !important;
        border: 0 !important;
    }
} 

.toc-link {
    color: #222 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;   
    transition: color 0.5s ease-in-out;
}

.toc-link:hover {
    color: #1EAEDB !important;
}

.node-name--H1 { font-size: 20px;}
.node-name--H2 { font-size: 18px;}
.node-name--H3 { font-size: 16px;}
.node-name--H4 { font-size: 14px;}
.node-name--H5 { font-size: 12px;}
.node-name--H6 { font-size: 10px;}


/* Pagination
---------------------------------------- */
.page-link.scores-active,
.page-link.counts-active,
.page-link.search-active {
    color: whitesmoke !important;
    border-color: #D1D1D1 !important;
    background-color: #AFC8FA !important;
}

.pagination {
    padding-top: 10px;
    list-style: none;
    display: flex;
}
.pagination > li {
    margin-top: auto;
}
.pagination > li > a.start {
    border: 1px solid #999999;
    border-right: 0 solid #999999;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li > a.end {
    border: 1px solid #D1D1D1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a {
    color: #1EAEDB;
    background-color: #fff;
    text-decoration: none;
    
    padding: 0.5em;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    border-left: 1px solid #D1D1D1;
    
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;   
    transition: color 0.5s ease-in-out
}
.pagination > li > a:hover {
    color: #222;
}

/* Model Forms
---------------------------------------- */
.model-form > tbody > tr > th > label,
.model-form > tbody > tr > td > input,
.model-form > tbody > tr > td > textarea {
    width: 100%;
} 

.model-form > textarea {
    min-width: 650px;
    min-height: 250px;
    height: 250px;
    width: 650px;
}

.top-shadow {
    box-shadow: 0 -5px 5px -5px #333;
}

.bottom-shadow {
    box-shadow: 0 -5px 5px 1px #333
}

/* ORCID button
---------------------------------------- */
#connect-orcid-button{
	border: 1px solid #D3D3D3;
	padding: .3em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #999;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: .8em;
	line-height: 24px;
	vertical-align: middle;
}

#connect-orcid-button:hover{
	border: 1px solid #338caf;
	color: #338caf;
}

#orcid-id-logo{
	display: block;
	margin: 0 .5em 0 0;
	padding: 0;
	float: left;
}


/* DetailView css
---------------------------------------- */
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.centered {
    text-align: center;
}
.underline {
    border-bottom: 2px solid rgba(0,0,0,.1);
}


/* DetailView css
---------------------------------------- */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.sidenav-list-item {
    list-style-type: none;
    padding-right: 200px !important;
}

.sidenav-list-item a {
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.child-list-description {
    margin-left:20px !important;
    margin-top:20px;
}
.urn-item-link {
    display: block;
}


.hover-card {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}
.hover-card:hover {
    border-color: black;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: border-color 0.1s ease-in-out
}

.entry-card {
    margin: 1rem 1rem;
    display: inline-block;
    max-width: 30%;
    min-width: 30% !important;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    /*box-shadow: 1px 2px 5px #ccc;*/
}

.section-heading {
    padding: 15px;
    color: lightslategray;
    font-weight: lighter;
}

.target-card {
    padding-left: 10px;
    color: black !important;
}
.target-card:hover {
    color: lightslategray !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: color 0.1s ease-in-out
}

.clickable-row {
    cursor: pointer;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.tile {
    width: 100px;
    height: 100px;
    background: white;
    margin: 0px 10px 10px 0px;
}

.column-border-right {
     padding-right: 20px;
     border-right: 1px solid rgb(0,0,0.1);
 }

[class^="icon"] {
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  margin-right: 10px;
  fill: #fff;
}

.icon {
    cursor: pointer;
}


/* Links */
.gray-link {
    color: #6c757d !important;
    text-decoration: none !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: color 0.1s ease-in-out;
}
.gray-link:hover {
    color: #222 !important;
}

a {
    color: #987cb8 !important;
    text-decoration: none !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: color 0.1s ease-in-out;
}
a:hover {
    color: rebeccapurple !important;
}
