/* Global 
----------------------------------- */
/* COLORS
    #343a40 - 'Charcoal gray'
    #222222 - 'Deep charcoal gray'
    #f7f7f7 - 'Ever so slightly gray'
    #987cb8 - 'Pastel purple'
    #dadff1 - 'Ensembl purple'
    #ffffff - 'White'
    #1eaedb - 'Some sort of rusty blue'
    #333333 - 'Shadow gray'
    #d3d3d3 - 'Slategray'
    #999999 - 'ORCID gray'
    #338caf - 'ORCID blue'
    #6c757d - 'Subdued gray'
    rebeccapurple - 'Hyperlink hover purple'
 */

* {
    font-family: 'Raleway', sans-serif;
    border-radius: 0 !important;
    /* border: 1px solid red !important; */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
;    box-sizing: border-box;
}

body {
   /*margin: 1%;*/
   color: #343a40;
   background-color: #f7f7f7;
   /*display: flex;*/
   /*!*min-height: 85vh;*!*/
   /*flex-direction: column;*/
}


pre {
	margin-left: 1%;
	margin-right: 1%;
}

form > input {
    width: 50%;
}

input {
    width: 50%;
}
input[type=button],
input[type=checkbox],
input[type=number] {
    width: auto;
}


.form-control:focus {
    box-shadow: none !important;
    border-color: black !important;
}


.select2 {
    margin-bottom: 15px;
}

/* Fixes resizing issue with select2 components */
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.border-secondary {
    border-color:rgba(0,0,0,.1) !important;
}

.download-btn {
    color: #222222 !important;
}
.download-btn:hover {
    border: 1px solid #222222 !important;
    color: white !important;
}

ul {
    list-style-type: square;
}

.arrow-ul {
    list-style-type: none;
    padding-left: 1em;
}
.arrow-ul li:before {
    content: ">";
}

/* Tables
---------------------------------- */
table td {
    width: 200px;
    word-break: break-all;
}
table th {
    white-space: nowrap !important;
    width: 1% !important;
}
table {
    width: 100%;
    word-break: break-all;
}

.numeric-container,
.table-container {
    border: 2px solid #987cb8;
    padding: 0 0.25px 0.25px 1px;
    display: block;
    overflow-x: auto;
    /*white-space: nowrap;*/
}
.styled-table {
    margin-bottom: 0; 
    background: whitesmoke;
}
.styled-table th {
    background: #dadff1;
}
.table thead th,
.table tbody td  {
    font-size: 14px;
    /*line-height: 0.10em;*/
    border: 1px solid white;
}

.styled-table .input-group .form-control,
.table {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.styled-table .filters th .textinput.textInput.form-control {
    height: auto;
    max-width: 80%;
    
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* navbar/header/footer Formatting 
----------------------------------- */
.footer {
    margin-bottom: 10px;
}
.sidebar {
    min-height:80vh !important;
    width:200px !important;
}

/* Navbar / search box
------------------------------------ */
.nav-link {
    padding-top: 0.15rem !important;
    padding-bottom: 0.15rem !important;
}

/* Logo Formatting
----------------------------------- */
.logo > img {
    display: block;
    margin: auto;
    width: 92px;
    height: 92px;
}


/* body-block formatting
----------------------------------- */
.body-block {
    padding: 2%;
}

/*[class^="news-item"] {*/
    /*margin-bottom: 2em;*/
/*}*/

.news, .highlights, .quick-search {
    padding: 1em;
    height: 50%;
    border: 1px ridge rgba(0,0,0,.1);
    border-radius: 0;
    box-shadow: none !important;
    background-color: #dadff1;
}
.highlights {
    background-color: transparent;
}

.profile-card {
    box-shadow: none !important;
    max-width: 30%;
    min-width: 30%;
    margin-top: 1em;
}
.card-description {
    max-height: 15em;
    overflow:hidden;
}
.card-description:hover {
    overflow-y: auto;
}


/* Tocbot
---------------------------------------- */
.js-toc {
    background: #ffffff;
    z-index: 999;
}

@media (max-width: 800px) {
    .js-toc {
        width: 100%;
        margin-bottom: 25px;
    }
    .sidebar {
        min-height: auto !important;
        border: 0 !important;
    }
}

.toc-link {
    color: #222222 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;   
    transition: color 0.5s ease-in-out;
}

.toc-link:hover {
    color: #1eaedb !important;
}

.node-name--H1 { font-size: 20px;}
.node-name--H2 { font-size: 18px;}
.node-name--H3 { font-size: 16px;}
.node-name--H4 { font-size: 14px;}
.node-name--H5 { font-size: 12px;}
.node-name--H6 { font-size: 10px;}


/* Model Forms
---------------------------------------- */
.model-form > tbody > tr > th > label,
.model-form > tbody > tr > td > input,
.model-form > tbody > tr > td > textarea {
    width: 100%;
} 

.model-form > textarea {
    min-width: 650px;
    min-height: 250px;
    height: 250px;
    width: 650px;
}

.top-shadow {
    box-shadow: 0 -5px 5px -5px #333333;
}

.bottom-shadow {
    box-shadow: 0 -5px 5px 1px #333333
}

/* ORCID button
---------------------------------------- */
#connect-orcid-button{
	border: 1px solid #d3d3d3;
	padding: .3em;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 1px 1px 3px #999999;
	cursor: pointer;
	color: #999999;
	font-weight: bold;
	font-size: .8em;
	line-height: 24px;
	vertical-align: middle;
}

#connect-orcid-button:hover{
	border: 1px solid #338caf;
	color: #338caf;
}

#orcid-id-logo{
	display: block;
	margin: 0 .5em 0 0;
	padding: 0;
	float: left;
}


/* DetailView css
---------------------------------------- */
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.centered {
    text-align: center;
}
.underline {
    border-bottom: 2px solid rgba(0,0,0,.1);
}


/* DetailView css
---------------------------------------- */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.sidenav-list-item {
    list-style-type: none;
    padding-right: 200px !important;
}

.sidenav-list-item a {
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.child-list-description {
    margin-left:20px !important;
    margin-top:20px;
}
.urn-item-link {
    display: block;
}


.hover-card {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}
.hover-card:hover {
    border-color: #343a40;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: border-color 0.1s ease-in-out
}

.entry-card {
    margin: 1rem 1rem;
    display: inline-block;
    max-width: 30%;
    min-width: 30% !important;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
}

.section-heading {
    padding: 15px;
    color: lightslategray;
    font-weight: lighter;
}

.target-card {
    padding-left: 10px;
    color: #343a40 !important;
}
.target-card:hover {
    cursor: pointer;
    color: lightslategray !important;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    transition: color 0.1s ease-in-out !important;
}
.target-card:hover a {
    color: lightslategray !important;
}

.clickable-row {
    cursor: pointer;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.tile {
    width: 100px;
    height: 100px;
    background: white;
    margin: 0 10px 10px 0;
}

.column-border-right {
     padding-right: 20px;
     border-right: 1px solid rgb(0,0,0.1);
 }

[class^="icon"] {
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  margin-right: 10px;
  fill: #fff;
}

.icon {
    cursor: pointer;
}

.form-title {
    color: #222222 !important;
}

/* Links */
.gray-link {
    color: #6c757d !important;
    text-decoration: none !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: color 0.1s ease-in-out;
}
.gray-link:hover {
    color: #222222 !important;
}

a {
    color: #987cb8 !important;
    text-decoration: none !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: color 0.1s ease-in-out;
}
a:hover {
    color: rebeccapurple !important;
}


.white-button {
    background-color: white;
}

.profile-nav-link {
    color: #343a40 !important;
    background-color: transparent !important;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: color 0.1s ease-in-out,
                background-color 0.1s ease-in-out;
}
.profile-nav-link:hover {
    color: white !important;
    background-color: #343a40 !important;
}


.error-icon {
    color: red !important;
    cursor: help;
}
.error-icon:hover {
    color: darkred !important;
}

.processing-icon {
    color: orange !important;
    cursor: help;
}
.processing-icon:hover {
    color: darkorange !important;
}

.success-icon {
    color: green !important;
    cursor: help;
}
.success-icon:hover {
    color: darkgreen !important;
}