{% extends "main/base.html" %}

{% block body %}

<div class="search-results table-container row mt-5">
	<table id="search-table" class="styled-table table table-hover paginated">
		<thead>
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Experiment Sets</th>
				<th>Experiments</th>
				<th>Score Sets</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.first_name|default:"-" }}</td>
					<td>{{ user.last_name|default:"-" }}</td>
					<td>
						{% if not user.profile.administrator_experimentsets %}
						-
						{% else %}
							{% for exps in user.profile.administrator_experimentsets %}
								{% if not exps.private %}
									<a href="{% url 'experiment:experimentset_detail' exps.accession %}">{{ exps.accession }}</a>
								{% endif %}
							{% endfor %}
						{% endif %}												
					</td>
					<td>
						{% if not user.profile.administrator_experiments %}
						-
						{% else %}
							{% for exp in user.profile.administrator_experiments %}
								{% if not exp.private %}
									<a href="{% url 'experiment:experiment_detail' exp.accession %}">{{ exp.accession }}</a>
								{% endif %}
							{% endfor %}
						{% endif %}						
					</td>
					<td>
						{% if not user.profile.administrator_experimentsets %}
						-
						{% else %}
							{% for scs in user.profile.administrator_scoresets %}
								{% if not scs.private %}
									<a href="{% url 'scoreset:scoreset_detail' scs.accession %}">{{ scs.accession }}</a>
								{% endif %}
							{% endfor %}
						{% endif %}					
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Pagination -->
{% if users.has_other_pages %}
<div class="row">
	<div class="col-md-2 mt-2">
		<form action="?per-page=" method="GET">
			<div class="form-inline">
				<label class="mr-2" for="per-page-select"> Entries per page </label>
				<select name="per-page" id="per-page-select" onchange="paginationSubmit('search')">
					{% for i in per_page_selections %}
						{% if i == per_page %}
							<option value={{i}} selected="">{{i}}</option>
						{% else %}
							<option value={{i}}>{{i}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</form>
	</div>

	<div class="col-md-10">
		<ul class="pagination justify-content-end">
			{% if users.has_previous %}
				<li class="page-item">
					<a class="page-link previous" href=""
						 onclick="return paginationSubmit('search', this);">
						&laquo;
						<div id="search-previous" hidden>{{ users.previous_page_number }}</div>
					</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}
			
			{% for i in users.paginator.page_range %}
				<li class="page-item">
					<a class="page-link {% if users.number == i %}search-active{% endif %}" href="" 
						 onclick="return paginationSubmit('search', this);">{{ i }}</a>
				</li>
			{% endfor %}
			
			{% if users.has_next %}
				<li class="page-item">
					<a class="page-link previous" href=""
						 onclick="return paginationSubmit('search', this);">
						&raquo;
						<div id="search-next" hidden>{{ users.next_page_number }}</div>
					</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endif %} <!-- End pagination -->

{% endblock %}