{% extends "accounts/profile_base.html" %}
{% load static %}

{% block profile_body %}
<h3> {{ instance.accession }} </h3>

<!-- Admin management -->
<div class="row" style="margin-top: 25px;">
	<div class="col-md-10">
		<h5> Add/Remove Administrators </h5><hr>
		<form id="admin-form"
					action="{% url 'accounts:manage_instance' instance.accession %}" 
					method="post">
			{% csrf_token %}
			{% if admin_select_form.non_field_errors %}
				<div>
					{{ admin_select_form.non_field_errors }}
				</div>
			{% endif %}
			{% for field in admin_select_form %}
				<div style="width:100%">{{ admin_select_form.as_table }}</div>
			{% endfor %}
			<div style="width:100%;margin-top:5px;">
				<input class="btn btn-primary" type="button" value="Save"
							style="width:150px;margin-bottom:35px;" 
							onclick="validate_admin_submit();">
			</div>
		</form>
	</div> 
</div> <!-- End admin management -->

<!-- Viewer management -->
<div class="row" style="margin-top: 25px;">
	<div class="col-md-10">
		<h5> Add/Remove Viewers </h5><hr>
		<form id="viewer-form"
					action="{% url 'accounts:manage_instance' instance.accession %}" 
					method="post">
			{% csrf_token %}
			{% if viewer_select_form.non_field_errors %}
				<div>
					{{ viewer_select_form.non_field_errors }}
				</div>
			{% endif %}
			{% for field in viewer_select_form %}
				<div style="width:100%">{{ field.errors }}</div>
				<div style="width:100%">{{ field }}</div>
			{% endfor %}
			<div style="width:100%;margin-top:5px;">
					<input class="btn btn-primary" type="button" value="Save"
								 style="width:150px;margin-bottom:35px;" 
								 onclick="validate_viewer_submit();">
			</div>
		</form>
	</div> 
</div> <!-- End Viewer management -->

{% endblock profile_body %}
