{% extends "accounts/profile_base.html" %}
{% load static %}

{% block profile_body %}
  <div class="container">
    <h2>
      User Management
      <a><i class="icon fas fa-users-cog pl-1" style="font-size: 36px;"></i></a>
    </h2>
    <p class="text-muted">
      You can assign users to any of the groups for this instance. Note that
      a user can only be assigned to a single group at a time and there must
      be at least one administrator.
    </p>
    <hr>

    {{ wizard.form.media }}

    <form id="user-management-form"
          action="{% url 'accounts:manage_instance' instance.urn %}" method="post">
      {% csrf_token %}
      {{ wizard.management_form }}
      {% include 'core/bs_form.html' with form=wizard.form %}
      <hr>
      <p class="text-muted float-right">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

      <div class="row">
        <button id="submit-user-management-form" class="btn btn-outline-dark white-button mr-2" type="submit" value="submit"
                name='submit' data-toggle="tooltip" data-placement="top|right|bottom|left"
                title="Preview changes.">
          <i class="fa fa-arrow-right"></i>
        </button>
        <button class="btn btn-outline-dark white-button mr-2" type="button" value="Cancel" name="cancel"
                data-toggle="tooltip" title="Cancel and return to your profile."
                data-placement="top|right|bottom|left" onclick="cancelSubmission()">
          <i class="fa fa-ban cancel"></i>
        </button>
			</div>

    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    $("document").ready( function () {
      init_select2();
    });
  </script>
{% endblock %}
