{% extends "accounts/profile_base.html" %}

{% block profile_body %}
<!-- Edit instance -->
<div class="row" style="margin-top: 25px;">
	<div class="col-md-10">
		<h3> Edit entry {{ instance.accession }} </h3>
		<p> 
			Only fields shown below are editable. All other fields have been 
			frozen. If you feel you need to edit additional fields not seen below, 
			you will need to contact us.
		</p>
		<hr>
		
		<form id="edit-form"
					action="{% url 'accounts:edit_instance' instance.accession %}" 
					method="post">
			{% csrf_token %}
			{% if edit_form.non_field_errors %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>	
					<h4> Oh no! </h4>
					<p> There were some errors with your submission </p>
					<hr>
					<p>{{ edit_form.non_field_errors }}</p>
				</div>
			{% endif %}
			{% for field in edit_form %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}">
						{{ field.label }}{% if field.field.required %}*{% endif %}
					</label>
					{% if field.errors %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>	
							{{ field.errors }}
						</div>
					{% endif %}
					<br>
					{{ field }}
				</div>
			{% endfor %}
			<div style="width:100%;margin-top:5px;">
				<input class="btn btn-outline-dark" type="submit" value="Save" name="save"
								style="width:150px;margin-bottom:35px;">
				<input class="btn btn-outline-dark" type="submit" value="Preview" name="preview"
								style="width:150px;margin-bottom:35px;margin-right:2px;">
			</div>
		</form>
	
	</div> 
</div> <!-- End edit instance -->

{% endblock profile_body %}
