{% extends "accounts/profile_base.html" %}

{% block profile_body %}
<!-- Edit instance -->
<div class="row">

	<div class="col-md-2 border border-top-0 border-bottom-0 border-left-0 border-secondary">
		<h3>
			Edit {{ instance.class_name|lower }}
		</h3>
		<p class="mt-4">
      {% if instance.private %}
        <p>
          This entry will remain fully editable until
          {% if experiment %}one of its Score Sets is published.{% else %}you click publish
          at the bottom of this form.{% endif %} Should you choose to publish, your
          entry will go live and some fields will become permanently frozen.
          See our <a href="{% url 'main:documentation' %}"> documentation </a>
          for further information.
        </p>
        {% else %}
        <p>
          This entry has been published and only fields shown below are
          editable. If you feel you need to edit additional fields not
          seen below, you will need to contact us.
        </p>
      {% endif %}
		</p>
		<p>* indicates a required field</p>
	</div>

  <div class="col-md-8 mx-3">
		<h3> Edit entry {{ instance.urn }} </h3>
		<hr>

		<div id="keywords-to-add" hidden>{{ repop_keywords }}</div>
		<div id="sra_identifiers-to-add" hidden>{{ repop_sra_identifiers }}</div>
    <div id="doi_identifiers-to-add" hidden>{{ repop_doi_identifiers }}</div>
    <div id="pubmed_identifiers-to-add" hidden>{{ repop_pubmed_identifiers }}</div>

		<form id="edit-form"
					action="{% url 'accounts:edit_scoreset' instance.urn %}"
					method="post" enctype="multipart/form-data">
			{% csrf_token %}

      {% if edit_form.non_field_errors or target_form.non_field_errors or reference_map_form.non_field_errors or interval_form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4> Oh no! </h4>
          <p> There were some errors with your submission </p>
          <hr>
          <p>{{ edit_form.non_field_errors }}</p>
          <p>{{ target_form.non_field_errors }}</p>
          <p>{{ reference_map_form.non_field_errors }}</p>
          <p>{{ interval_form.non_field_errors }}</p>
        </div>
			{% endif %}

      {% for field in edit_form %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}">
						{{ field.label }}{% if field.field.required %}*{% endif %}
						{% if field.label == "Abstract" %}
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-outline-dark white-button btn-sm ml-2" data-toggle="modal" 
											data-target="#abstract-markdown-modal" id="preview-abstract">
							Preview
							</button>
						{% endif %}
						
						{% if field.label == "Method description" %}
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-outline-dark white-button btn-sm ml-2" data-toggle="modal" 
											data-target="#method-markdown-modal" id="preview-method">
							Preview
							</button>
						{% endif %}
					</label>

					{% if field.label == "Count data" %}
					<div class="alert alert-warning"> 
						Uploading a new file will delete previously saved 
						score and count datasets. You will also need to 
						upload an updated version of your score data file.
						<br><br>
						{{ field }}
					</div>
					{% endif %}

					{% if field.label == "Score data" %}
					<div class="alert alert-warning"> 
						Uploading a new file will delete previously saved 
						score and count datasets. You will also need to 
						upload an updated version of your count data file.
						<br><br>
						{{ field }}
					</div>
					{% endif %}
					
					{% if field.errors %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>	
							{{ field.errors }}
						</div>
					{% endif %}
					<br>
					{% if not field.label == "Count data" and not field.label == "Score data" %}
						{{ field }}
					{% endif %}
				</div>
			{% endfor %}

      {% if instance.private and instance.class_name == 'scoreset' %}
        <hr>
        <div class="model-form">
          <h3>Target Gene</h3>
          {% for field in target_form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}{% if field.field.required %}*{% endif %}
              </label>
              {% if field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ field.errors }}
                </div>
              {% endif %}
              <br>
              {{ field }}
            </div>
          {% endfor %}

          <hr>
          <h4>Reference</h4>
            {% for field in reference_map_form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" style="padding-right:10px">
                  {{ field.label }}{% if field.field.required %}*{% endif %}
                </label>
                {% if field.errors %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ field.errors }}
                  </div>
                {% endif %}
                <br>
                {{ field }}
              </div>
            {% endfor %}
          <hr>

          <h5>Annotations</h5>
          <table class="table">
            {% if interval_form.non_field_errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ interval_form.non_field_errors }}
              </div>
            {% endif %}

            <thead>
            <tr>
              {% for field in interval_form.visible_fields %}
                  <th>{{ field.label|capfirst }}{% if field.field.required %}*{% endif %}</th>
              {% endfor %}
            </tr>
            </thead>

            <tr class="formset_row">
              {% for field in interval_form.visible_fields %}
                <td>
                  {# Include the hidden fields in the form #}
                  {% if forloop.first %}
                      {% for hidden in interval_form.hidden_fields %}
                          {{ hidden }}
                      {% endfor %}
                  {% endif %}
                  {% if field.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ field.errors.as_ul }}
                    </div>
                  {% endif %}
                  {{ field }}
                </td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <hr>
      {% endif %}

  		<div style="width:100%;margin-top:5px;">
				<input class="btn btn-outline-dark white-button" type="submit" value="Save" name="save"
								style="width:150px;margin-bottom:35px;" data-toggle="tooltip" 
								data-placement="top|right|bottom|left"
								title="Save your changes without publishing.">
				{% if instance.private and not experiment %}
					<input type="submit" value="Publish" class="btn btn-outline-danger" data-toggle="tooltip" 
								data-placement="top|right|bottom|left" name="publish"
								title="Publish your entry. This action is final and will freeze your certain aspects of your entry."
								style="width:150px;margin-bottom:35px;" id="publish">
				{% endif %}
			</div>
		</form>
  </div>

</div> <!-- End edit instance -->

{% endblock profile_body %}
