{% extends "main/base.html" %}
{% load dataset_tags %}
{% load list_tags %}
{% load utility_tags %}

{% block body %}

<div id="search-content">
  <div id="search-control">
    <form class="mb-2" action="{% url 'search:search' %}" method="get">
      <div class="input-group">
        <input class="form-control" name="search">
        <button class="btn btn-outline-dark white-button ml-1">
          <i class="fa fa-search"></i>
        </button>
        <button id='adv-search'
                class="btn btn-outline-dark white-button ml-1"
                data-toggle="collapse"
                data-target="#search-options"
                type="button">
          <i class="fas fa-cog"></i>
        </button>
      </div>
    </form>
  </div>

  <div id="search-options" class="collapse fade mt-2" aria-hidden="true">
    <div class="container card" >
      <div class="card-body">
        <div class="card-header bg-white mb-2">
          <h4 class="form-title"> Advanced search </h4>
        </div>

        <form action="{% url 'search:search' %}" method="GET">
          {% include 'core/bs_neutral_form.html' with form=adv_search_form %}
          <div class="card-footer bg-white">
            <button class="btn btn-outline-dark float-right white-button"
                    style="width: 150px;" type="submit">Search</button>
          </div>
        </form>

      </div> <!-- End card body -->
    </div> <!-- End card -->
  </div> <!-- end row -->
  <hr>

  <div id="table-wrapper" class="styled-table mt-4">
    <div id="search-table-container" class="table-responsive">
      <table id="search-table" class="styled-table table table-hover display" style="width: 100%;">
        <thead>
          <tr>
            <th style="max-width: 15px !important;"></th>
            <th class="clickable-row">Urn</th>
            <th class="clickable-row">Short description</th>
            <th class="clickable-row">Target name</th>
            <th class="clickable-row">Target type</th>
            <th class="clickable-row">Target organisms</th>
            <th class="clickable-row">Contributors</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  let instances = JSON.parse("{{ instances|escapejs|safe }}");
  let data = {
    draw: 1,
    data: instances
  };

  $("document").ready(function() {

    $("#adv-search").click(function(event) {
      init_select2();
    });

    var table = $('#search-table').DataTable({
      data: instances,
      columns: [
        {
          className: 'details-control',
          orderable: false,
          data: null,
          defaultContent: "",
          render: function () {
             return "<i class=\"fa fa-plus-square\" aria-hidden=\"true\"></i>";
         },
         width: "15px"
        },
        {data: "urn"},
        {data: "description", width: "40%"},
        {data: "target" },
        {data: "type" },
        {data: "organism"},
        {data: "contributors"}
      ],
      order: [[1, 'asc']]
    });

    $(".no-hover").parent().parent().addClass("no-hover");
    // Add event listener for opening and closing details
    $('#search-table tbody').on('click', 'td.details-control', function () {
       var tr = $(this).closest('tr');
       var row = table.row(tr);

       if (row.child.isShown()) {
         // This row is already open - close it
         row.child.hide();
         tr.removeClass('shown');
         var tdi = tr.find(".fa-minus-square");
         tdi.first().removeClass('fa-minus-square');
         tdi.first().addClass('fa-plus-square');

         row.child().removeClass("no-hover");
       }
       else {
         // Open this row
         row.child(format(row.data())).show();
         tr.addClass('shown');
         var tdi = tr.find(".fa-plus-square");
         tdi.first().removeClass('fa-plus-square');
         tdi.first().addClass('fa-minus-square');

         row.child().addClass("no-hover");
       }
    });
  });

  function format(rowData) {
    var html = "";
    for (var i=0; i < rowData.children.length; i++) {
      html += (
        "<tr>" +
          {#"<td></td>" +#}
          "<td>" + rowData.children[i].urn + "</td>" +
          "<td style=\"width: 40%\">" + rowData.children[i].description + "</td>" +
          "<td>" + rowData.children[i].target + "</td>" +
          "<td>" + rowData.children[i].type + "</td>" +
          "<td>" + rowData.children[i].organism + "</td>" +
          "<td>" + rowData.children[i].contributors + "</td>" +
        "</tr>"
      );
    }
    return html;
  }
</script>
{% endblock %}