{% extends "main/base.html" %}
{% load dataset_tags %}
{% load list_tags %}

{% block body %}

<div class="container-fluid">
  <div class="container">
    <form class="mb-2" action="{% url 'search:search' %}" method="get">
      <div class="input-group">
        <input class="form-control" name="search">
        <button class="btn btn-outline-dark white-button ml-1">
          <i class="fa fa-search"></i>
        </button>
        <button id='adv-search' class="btn btn-outline-dark white-button ml-1" data-toggle="collapse"
                data-target="#search-options" type="button">
          <i class="fas fa-cog"></i>
        </button>
      </div>
    </form>
  </div>

  <div id="search-options" class="row collapse fade mt-2" aria-hidden="true">
    <div class="container card" >
      <div class="card-body">
        <div class="card-header bg-white mb-2">
          <h4 class="form-title"> Advanced search </h4>
        </div>

        <form action="{% url 'search:search' %}" method="GET">
          {% include 'core/bs_neutral_form.html' with form=adv_search_form %}
          <div class="card-footer bg-white">
            <button class="btn btn-outline-dark float-right white-button"
                    style="width: 150px;" type="submit">Search</button>
          </div>
        </form>

      </div> <!-- End card body -->
    </div> <!-- End card -->
  </div> <!-- end row -->
  <hr>

  <div class="styled-table mt-4">
    <table id="search-table" class="table table-hover">
      <thead>
        <tr>
          <th class="clickable-row">Urn</th>
          <th class="clickable-row">Short description</th>
          <th class="clickable-row">Target name</th>
          <th class="clickable-row">Target organisms</th>
          <th class="clickable-row">Contributors</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  let instances = [
    {% for instance in instances %}
      {% if instance.private and request.user in instance.contributors or not instance.private %}
        {
          "0": "<a href=\"{{ instance.get_url }}\">{% format_urn_name_for_user instance request.user %}</a>",
          "1": "{{ instance.short_description|default:"-"|escapejs }}",
          "2": [{% display_targets instance request.user True %}][0].join(', '),
          "3": [{% display_species instance request.user True %}][0].join(', '),
          "4": "" +
            {% for c in instance.contributors %}
              "<span>" +
              "{{ c.profile.get_display_name_hyperlink|escapejs|safe }}" +
              "<i class=\"external-link-small fas fa-external-link-alt\"></i>" +
              "</span><br>" +
            {% endfor %}
          ""
        },
      {% endif %}
    {% endfor %}
  ];

  let data = {
    draw: 1,
    data: instances
  };

  $("document").ready(function() {
    let formInit = false;
    $('#search-table').DataTable({
      data: instances,
      columnDefs: [
        {className: "Urn", targets: [0] },
        {className: "Short description", targets: [1] },
        {className: "Target name", targets: [2] },
        {className: "Target organisms", targets: [3] },
        {className: "Contributors", targets: [4] }
      ]
    });
    setTimeout(init_select2, 2000);
  });
</script>
{% endblock %}