{% extends "main/base.html" %}

{% block body %}
<div class="row">
  <div class="col-md-2">
		<h2> Login </h2>
	</div>
	
	<div class="col-md-6">
		<form id="login-form" method="post">
			{% csrf_token %}

			{% if form.non_field_errors %}	
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{% for error in form.non_field_errors %}
					<h4 class="alert-heading">Login error!</h4>
					<hr>
					<p> {{ error }} </p>
					{% endfor %}
				</div>
			{% endif %}

			<div class="form-group">
				<label for="id_username">{{ form.username.label_tag }}</label>					
				{% if form.username.errors %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<p>{{ form.username.errors }}</p>
					</div>
				{% endif %}
				<input class="form-control" name="username" maxlength="150" 
							 autofocus="" required="" id="id_username" type="text">
			</div>

			<div class="form-group">
				<label for="id_password">{{ form.password.label_tag }}</label>					
				{% if form.password.errors %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>{{ form.username.errors }}</p>
				</div>
				{% endif %}
				<input class="form-control" name="password" required="" 
							 id="id_password" type="password">
			</div>

			<div>
				<label><input class="mx-1" name="remember" type="checkbox" checked>Remember me</label>
				<button type="submit" class="btn btn-outline-dark mb-2 float-right">Submit</button>
				<br><br>
				<a class="float-right" href="{% url 'accounts:password_reset' %}">Lost password?</a>
			</div>
		
		</form>
	</div>	
</div>
{% endblock body %}