{% extends "main/base.html" %}

{% block body %}
<div class="row" style="margin-bottom: 31%;">
	<div class="two columns">
		<h2>Password Revocery</h2>
	</div>
	<div class="ten columns">
		{% if validlink %}
			<p>Please enter (and confirm) your new password.</p>
			<form action="" method="post">
				{% csrf_token %}
				{% for field in form %}
					{{ field.label_tag }}
					{{ field }}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				{% endfor %}
				<p>
					<input type="submit" value="Change my password" />
				</p>
			</form>
	  {% else %}
			<h3>Password reset failed</h3>
			<p>The password reset link was invalid. Please request a new password reset.</p>
    {% endif %}
	</div>
</div>
{% endblock body %}