{% extends "main/base.html" %}

{% block body %}
<div class="row">
	<div class="col-md-2">
		<h2>Password Revocery</h2>
	</div>
	<div class="col-md-10">
		<form action="" method="post">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}">
							{{ field.label }}{% if field.field.required %}*{% endif %}
					</label>
					{% if field.errors %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ field.errors }}
						</div>
					{% endif %}
					<br>
				  {{ field }}
				</div>
			{% endfor %}
			<div style="width:300px;">
				<input class="btn btn-outline-dark" type="submit" value="Reset password" name="reset_email"/>
			</div>
		</form>
	</div>
</div>
{% endblock body %}