{% extends "main/base.html" %}

{% block body %}

<div class=row>
	<div class="two columns">
		<h5> 403 - Forbidden! </h5>
	</div>

	<!-- Vertical divider -->
	<div class="one column" style="margin-left:1%;height:100vh;">
			<div style="width:1px;height:100%;background-color:#E1E1E1;">&nbsp;</div>
	</div>	

	<div class="nine columns" style="margin-left: -1%">
		<h3> Access denied. </h3>
		<p><small> I'm sorry Dave, I'm afraid I can't let you do that. </small></p>

		{% if instance %}
			<p> 
				This is a private entry. Contact user 
				{{ instance.created_by|default:"None" }} 
				if you believe you should have access permissions.
			</p>
		{% else %}
			<p> 
				It appears that you don't have access to this page.
			</p>
		{% endif %}
	</div>
</div>

{% endblock body %}