{% extends "main/base.html" %}

{% block body %}

<div class=row>
	<div class="col-md-2 border border-top-0 border-bottom-0 border-left-0 border-secondary" style="height:80vh;">
		<h5> 403 - Forbidden! </h5>
	</div>

	<div class="col-md-8 mx-3">
		<h3> Access denied. </h3>
		{% if instance %}
			<p> 
				This is a private entry. Contact user 
				{{ instance.created_by.get_full_name_or_username()|default:"None" }} 
				if you believe you should have access permissions.
			</p>
		{% else %}
			<p> 
				It appears that you don't have access to this page.
			</p>
		{% endif %}
	</div>
</div>

{% endblock body %}