{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load bootstrap_themes %}
{% bootstrap_styles theme='flatly' type='min.css' %}
{% bootstrap_script use_min=True %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MaveDB</title>
    <link rel="stylesheet" type="text/css" 
          href="{% static 'main/DataTables/css/dataTables.bootstrap.min.css' %}"/>
    <link rel="Stylesheet" type="text/css"
          href="{% static 'main/css/jquery-ui.css' %}"/>
    <link href="{% static 'main/css/base.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div id="header"> 
      <nav id="nav-header" class="navbar navbar-default">
        <div class="container">
          <div id="navbar_logo" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" 
                href="{% url 'main:home' %}">MaveDB</a>
          </div>

          <div id="navbar_links" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'main:search' %}">Search</a></li>
              <li><a href="{% url 'main:download' %}">Download</a></li>
              <li><a href="{% url 'main:upload' %}">Upload</a></li>
              <li>
                <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  Help
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'main:usage_guide' %}">User Guide</a></li>
                  <li><a href="{% url 'main:documentation' %}">Documentation</a></li>
                </ul>
              </li>
              <li><a href="{% url 'main:login' %}">Login</a></li>
              <li><a href="{% url 'main:register' %}">Register</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div>
    
    <div id="body" class="container-fluid">  
      {% block body %}{% endblock %}
    </div> 

    <div id="footer" class="footer">
      <div class="row">
        <div id="footer_logo" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="text-center">
              <span>MaveDB Logo Goes Here</span>
          </div>
        </div>

        <div id="footer_link_container" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div  class="text-center">
              <a href="{% url 'main:help' %}">Help</a> |
              <a href="{% url 'main:contact' %}">Contact</a> |
              <a href="{% url 'main:privacy' %}">Privacy</a> |
              <a href="{% url 'main:terms' %}">Terms</a>
          </div>
          <div id="disclaimer" class="text-center">
            <p>Copyright 2017, All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Load ALL the Javascripts! -->
    <script type="text/javascript" 
            src="{% static 'main/DataTables/js/jquery.dataTables.min.js' %}">
    </script>
    <script type="text/javascript" 
            src="{% static 'main/DataTables/js/dataTables.bootstrap.min.js' %}">
    </script>
    <script type="text/javascript"
            src="{% static 'main/js/jquery-ui.min.js' %}">
    </script>
    <script src="{% static 'main/js/base.js' %}"></script>
  </body>
</html>