{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MaveDB, a repository for DMS datasets">
    <meta name="author" content="Daniel C. Esposito">
    <!-- fonts/icons -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" 
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- skeleton -->
    <link rel="stylesheet" href="{% static 'main/skeleton/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/skeleton/css/skeleton.css' %}">
    <!-- jquery-ui -->
    <link href="{% static 'main/jquery/css/jquery-ui.css' %}" rel="stylesheet">
    <!-- tocbot -->
    <link href="{% static 'main/tocbot/css/tocbot.css' %}" rel="stylesheet">
    <!-- custom css -->
    <link href="{% static 'main/main/css/base.css' %}" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" type="image/png" 
          href="{% static 'main/main/img/minilogo.png' %}"/>
    <title>MaveDB</title>
  </head>

  <body>
    <div class="section header">
      <div class="row">
        <div class="two columns logo centered">
          <img class="logo-img" type="image/svg+xml"
               src="{% static 'main/main/img/logo.svg' %}">
        </div>
        <nav class="six columns navbar">
          <ul class="navbar-list container">
            <li class="navbar-item">
              <a href="{% url 'main:home'%}">Home</a>
            </li>
            <li class="navbar-item">
              <a href="#">Search</a>
            </li>
            <li class="navbar-item">
              <a href="#">Download</a>
            </li>
            <li class="navbar-item">
              <a href="#">Upload</a>
            </li>
            <li class="navbar-item">
              <a href="{% url 'main:usage_guide'%}">Usage</a>
            </li>
            <li class="navbar-item">
              <a href="{% url 'main:documentation'%}">Documentation</a>
            </li>
            {% if user.is_authenticated %}
              <li class="navbar-item">
                <a href="{% url 'accounts:profile'%}">Profile</a>
              </li>
              <li class="navbar-item">
                <a href="{% url 'accounts:logout'%}">Logout</a>
              </li>
            {% else %}
              <li class="navbar-item">
                <a href="{% url 'accounts:login'%}">Login</a>
              </li>
              <li class="navbar-item">
                <a href="{% url 'accounts:register'%}">Register</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <div class="four columns navbar-search">
          <form class="container" action="{% url 'main:home' %}" method="post">
            {% csrf_token %}
            <input name="navbar-search-input" placeholder="Search...">
            <input type="submit" style="display: none" />
          </form>
        </div>
      </div>
    </div>
     
    <hr> <!-- clear -->

    <div class="section body-block">
      {% block body %}
        <!-- Main template body block -->
      {% endblock %}
    </div>
    
    <hr> <!-- clear -->

    <div class="section footer">
      <div class="row"> 
        <nav class="twelve columns footerbar">
          <ul class="footerbar-list container">
            <li class="footerbar-item">
              <a href="{% url 'main:terms_privacy'%}">Terms</a>
            </li>
            <li class="footerbar-item">
              <a href="{% url 'main:terms_privacy'%}#privacy">Privacy</a>
            </li>
            <li class="footerbar-item">
              <a href="#">Contact</a>
            </li>
            <li class="footerbar-item">All rights reserved, 2017.</li>
          </ul>
        </nav>
      </div>
    </div>
  
    <!-- Scripts -->
  <script type="text/javascript" 
          src="{% static 'main/jquery/js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" 
          src="{% static 'main/jquery/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" 
          src="{% static 'main/tocbot/js/tocbot.js' %}"></script>
  <script type="text/javascript"  
          src="{% static 'main/main/js/base.js' %}"></script>
  <script type="text/javascript"  
          src="{% static 'main/main/js/init_tocbot.js' %}"></script>
  </body>
</html>
