{% extends "main/base.html" %}

{% block body %}

<div class="container terms-privacy-body">
    <h1 id="contact"> Contact </h1>
    <p class="text-muted">If you have a question, some feedback or have discovered a
      bug please let us know! Leave a message below and we'll contact you as soon
      as possible.</p>
    <form action="{% url 'main:contact' %}" method="post">
      {% csrf_token %}
      {% include 'core/bs_form.html' with form=contact_form %}
      <button class="btn btn-outline-dark white-button" type="submit" value="submit">Send</button>
    </form>
</div>

{% endblock %}