{% extends "main/base.html" %}

{% block body %}

<div class="row">
  <div class="eight columns information">
    <h1> About </h1>
    <div id="about">
      {{ site_information.about|safe|escape|default:"None" }}
    </div>
    <h1> Citation </h1>
    <div id="citation">
      {{ site_information.citation|safe|escape|default:"None" }}
    </div> 
  </div>
  
  <div class="four columns news-panel">
    <h1> News </h1>
    <div class="container news">
      {% if news_items %}
        {% for news_item in news_items %}
          <div id="news-item-{{forloop.counter}}" style="margin-bottom: 2em;">
            {{ news_item.message }}
          </div>
        {% endfor %}
      {% else %}
        <p> No news at this time. </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}