{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div id="basic_search_form" class="container">
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		{% crispy basic_search_form %}
	</div>
	<div class="col-sm-2 col-sm-2 col-md-2 col-lg-2">
		<button type="button" class="btn btn-primary" 
						data-toggle="collapse" data-target="#advanced_search_form">
			Advanced
			<span class="glyphicon glyphicon-cog"</span>
		</button>
	</div>
</div>

<br><br>
{% if advanced_search_form.errors %}
	<div id="advanced_search_form" class="container active collapse in" aria-expanded="true">
{% else %}
	<div id="advanced_search_form" class="container collapse" aria-expanded="false">
{% endif %}
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Advanced Search Options</div>
			<div class="panel-body">
				{% crispy advanced_search_form %}
			</div>
	</div>
</div>

<div id="results_table" class="container-fluid">
	<table id="experiment_table" class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="small_col">Accesion</th>
				<th class="small_col">Target</th>
				<th class="small_col">Date</th>
				<th>Author</th>
				<th>Reference</th>
				<th>Alt. Reference</th>
				<th>Scoring Method</th>
				<th>Keywords</th>
				<th class="small_col">Depth</th>
				<th class="small_col">Coverage</th>
				<th class="small_col">Variant Count</th>
			</tr>
		</thead>
		<thead class="filters">
			<tr>
				<th class="small_col">Accesion</th>
				<th class="small_col">Target</th>
				<th class="small_col">Date</th>
				<th>Author</th>
				<th>Reference</th>
				<th>Alt. Reference</th>
				<th>Scoring Method</th>
				<th>Keywords</th>
				<th class="small_col">Depth</th>
				<th class="small_col">Coverage</th>
				<th class="small_col">Variant Count</th>
			</tr>
		</thead>
		<tbody>
			{% for exp in experiments  %}
				<tr>
					<td class="small_col">
						<a 
							href="{% url 'main:experiment_detail_view' exp.accession %}">
							{{ exp.accession }}
						</a>
					</td>
					<td class="small_col">{{ exp.target }}</td>
					<td class="small_col">{{ exp.short_date }}</td>
					<td >{{ exp.authors }}</td>
					<td><i>{{ exp.reference }}</i></td>
					<td><i>{{ exp.alt_reference }}</i></td>
					<td>{{ exp.scoring_method }}</td>
					<td>{{ exp.keywords }}</td>
					<td id="min" class="small_col">{{ exp.read_depth }}</td>
					<td id="min" class="small_col">{{ exp.base_coverage }}</td>
					<td id="min" class="small_col">{{ exp.num_variants }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}