{% extends "main/base.html" %}

{% block body %}

<div id="advancedSearchForm" class="container">
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
		
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<div class="input-group">
				<input type="text" class="form-control"  
								placeholder="Example: EXP0010HSA; BRCA1; Kinase; Least Squares...">
				<span class="input-group-addon">
					<button type="submit">
							<span class="glyphicon glyphicon-search"></span>
					</button>  
				</span>
			</div>
		</div>
    <div class="col-sm-2 col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-primary" 
							data-toggle="collapse" data-target="#advanced-search">
				Advanced
				<span class="glyphicon glyphicon-cog"</span>
      </button>
    </div>
  </form>

	<br><br><br>
  <div id="advanced-search" class="collapse">
		<p> Hello world </p>
  </div>
</div>

<div id="results-table" class="container-fluid" style="margin-top: 2em; width: 90%;">
	<table id="table_id" class="table table-striped table-hover">
		<thead>
				<tr>
					<th>Accesion</th>
					<th>Target</th>
					<th>Date</th>
					<th>Author</th>
					<th>Reference</th>
					<th>Alt. Reference</th>
					<th>Scoring Method</th>
					<th>Keywords</th>
					<th>Avg Depth</th>
					<th>Avg Coverage</th>
					<th>Num Variants</th>
				</tr>
		</thead>
		<tbody>
			{% for exp in experiments  %}
				<tr>
					<td>{{ exp.accession }}</td>
					<td>{{ exp.target }}</td>
					<td>{{ exp.date }}</td>
					<td>{{ exp.author }}</td>
					<td>{{ exp.reference }}</td>
					<td>{{ exp.alt_reference }}</td>
					<td>{{ exp.scoring_method }}</td>
					<td>{{ exp.keywords }}</td>
					<td>{{ exp.read_depth }}</td>
					<td>{{ exp.base_coverage }}</td>
					<td>{{ exp.num_variants }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}