{% extends "main/base.html" %}

{% block body %}
<div class="row">
	<div class="two columns">
		<h3>Create new scoreset</h3>
	</div>

	<div class="one column" style="margin-left:1%">
		<div style="width:1px;height:100%;background-color:#E1E1E1;">&nbsp;</div>
	</div>
	
	<div class="nine columns" style="margin-left:1%">
		<form action="{% url 'scoreset:scoreset_new' %}" method="POST">
			{% csrf_token %}
			
			{% if scoreset_form.non_field_errors %}
			<div class="non-field-errors">
				{{ scoreset_form.non_field_errors }}
			</div>
			{% endif %}

			<div class="model-form">
				{% for field in scoreset_form %}
					<div class="field-error">{{ field.errors }}</div>
					<label for="{{ field.id_for_label }}">{{ field.label }}</label>
					{{ field }}
				{% endfor %}
			<br><hr>
			
			<input class="u-pull-right" style="width: 200px;" 
						type="submit" name="submit" value="submit">
		</form>
	</div>
</div>
<br><br>
{% endblock body %}