{% extends "main/base.html" %}

{% block body %}

<div class="row">
	<div class="col-md-2 border border-top-0 border-bottom-0 border-left-0 border-secondary">
		<h3>
			Create new scoreset
		</h3>
		{% if came_from_new_experiment %}
			<a href="{% url 'experiment:experiment_detail' e_accession %}"><h4 class="mt-4">Skip for now</h4></a>
		{% endif %}
		<p class="mt-4">
			Please fill out the form to the right. All fields will remain editable until published.
		</p>
		<p>* indicates a required field</p>
	</div>

	<div class="col-md-8 mx-3">
		<form action="{% url 'scoreset:scoreset_new' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			
			{% if scoreset_form.non_field_errors %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4> Oh no! </h4>
				<p> There were some errors with your submission </p>
				<hr>
				<p>{{ scoreset_form.non_field_errors }}</p>
			</div>
			{% endif %}

			<div id="keywords-to-add" hidden> {{ repop_keywords }} </div>

			<div class="model-form">
				{% for field in scoreset_form %}
					<div class="form-group">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}{% if field.field.required %}*{% endif %}
							{% if field.label == "Abstract" %}
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-outline-dark btn-sm ml-2" data-toggle="modal" 
												data-target="#abstract-markdown-modal" id="preview-abstract">
								Preview
								</button>
							{% endif %}
							
							{% if field.label == "Method description" %}
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-outline-dark btn-sm ml-2" data-toggle="modal" 
												data-target="#method-markdown-modal" id="preview-method">
								Preview
								</button>
							{% endif %}
						</label>
						
						{% if field.errors %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{ field.errors }}
							</div>
						{% endif %}
						<br>
						{{ field }}
					</div>
				{% endfor %}
			</div>
			<br><hr>
			
			<input class="btn btn-outline-dark" style="width: 200px;" 
						type="submit" name="submit" value="submit">
		</form>
	</div>
</div>
<br><br>
{% endblock body %}