{% extends "main/base.html" %}

{% block body %}
<div class="row">

	<!-- Sidebar -->
	<div class="sidebar col-md-2 border border-top-0 border-bottom-0 border-left-0 border-secondary" 
			 style="min-height:80vh;width:200px !important;">
		<h5> {{ scoreset.accession }} </h5>
		<p> 
			Member of experiment
			<a href="{% url 'experiment:experiment_detail' scoreset.experiment.accession %}">
				{{ scoreset.experiment.accession }}
			</a>
		</p>
	</div>
	
	<!-- Content -->
	<div class="col-md-8 mx-3">

		<!-- Tab/Pills menu -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" 
					 role="tab" aria-controls="info" aria-expanded="true">Information</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="scores-tab" data-toggle="tab" href="#scores"  
					 role="tab" aria-controls="scores">Scores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="counts-tab" data-toggle="tab" href="#counts" 
					 role="tab" aria-controls="counts">Counts</a>
			</li>
		</ul>
		
		<!-- Tab/Pills content -->
		<div class="tab-content" id="myTabContent">

			<!-- Information tab -->
			<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
				<div class="container-fluid mt-4">
					<h3> Abstract </h3>
					<p> {{ scoreset.md_abstract|safe|escape|default:"Not provided" }} </p>
					<hr>
					
					<h3> Method description </h3>
					<p> {{ scoreset.md_method_desc|safe|escape|default:"Not provided" }} </p>
					<hr>
					
					<h3> Publication information </h3>
					<span style="font-weight: 600;">Created on:</span>
						<span>{{ scoreset.creation_date }}</span>
					<br>
					<span style="font-weight: 600;">Created by:</span>
						<span>{{ scoreset.created_by|default:"None" }}</span>
					<br>
					<span style="font-weight: 600;">Last edited on:</span>
						<span>{{ scoreset.last_edit_date|default:"None" }}</span>
					<br>
					<span style="font-weight: 600;">Last edited by:</span>
						<span>{{ scoreset.last_edit_by|default:"None" }}</span>
					<br>
					<span style="font-weight: 600;">Authors:</span>
						<span>{{ scoreset.get_authors|default:"None" }}</span>
					<br>	
					<span style="font-weight: 600;">DOI:</span>
						<span>{{ scoreset.doi_id|default:"None" }}</span>
					<br>
					<span style="font-weight: 600;">Reviewed:</span>
					<span>
						{% if scoreset.approved %}
							{{ "Yes "}}
						{% else %}
							{{ "No" }}
						{% endif %}
					</span>
					
					<br>
					<hr>
					
					<h3> Information </h3>
					<span style="font-weight: 600;">Keywords: </span>
					<span>{{ scoreset.get_keywords|default:"Not provided" }}</span>
					<br>
					<span style="font-weight: 600;">Replaced by: </span>
					<span>
						{% if scoreset.replaced_by %}
						<a href="{% url 'scoreset:scoreset_detail' scoreset.replaced_by.accession %}">
							{{ scoreset.replaced_by }}
						</a>
						{% else %}
						None
						{% endif %}
					</span>
					<br>
					<span style="font-weight: 600;">Replaces: </span>
					<span>
						{% if scoreset.replaces %}
						<a href="{% url 'scoreset:scoreset_detail' scoreset.replaces.accession %}">
							{{ scoreset.replaces }}
						</a>
						{% else %}
						None
						{% endif %}
					</span>
				</div>
			</div> <!-- End information tab -->
			
			<!-- Scores data tab -->
			<div class="tab-pane fade" id="scores" role="tabpanel" aria-labelledby="scores-tab">
				<div class="container-fluid mt-4">

					<div class="row mb-4 mt-4">						
						<div class="col-md-3">
							<h3 style="margin: 0;">Scores dataset</h3>
						</div>
						{% if not preview %}
						<div class="col-md-1">
							<a class="download-btn btn btn-sm btn-outline-primary" 
								 href="{% url 'scoreset:scores_download' scoreset.accession %}">
								Download
							</a>
						</div>
						{% endif %}
					</div>

					{% if not scores_variants %}
					{% if preview %}
						<p> Information hidden in preview mode.</p>
					{% else %}
						<p> No counts data available.</p>
					{% endif %}
					{% else %}
						<div id="scores-table-container" class="numeric-container container-fluid">
							<table id="scores-table" class="styled-table table table-hover">
								<thead>
									<tr>
										{% for column in scores_columns %}
											<th> {{column}} </th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for var in scores_variants %}
										<tr>
											{% for data in var.get_ordered_scores_data %}
												{% if forloop.counter >= 2 %}
													<td> {{ data|floatformat:"-4" }} </td>
												{% else %}
													<td> {{ data }} </td>
												{% endif %}
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<!-- Pagination -->
						{% if scores_variants.has_other_pages %}
							<div class="row">
								<div class="col-md-2 mt-2">
									<form action="?scores-per-page=#scores" method="GET">
										<div class="form-inline">
											<label for="scores-per-page-select"> Variants per page </label>
											<select name="scores-per-page" id="scores-per-page-select" onchange="paginationSubmit('scores')">
												{% for i in per_page_selections %}
													{% if i == scores_per_page %}
														<option value={{i}} selected="">{{i}}</option>
													{% else %}
														<option value={{i}}>{{i}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</form>
								</div>
								
								<div class="col-md-10">
									<ul class="pagination justify-content-end">
										{% if scores_variants.has_previous %}
											<li class="page-item">
												<a class="page-link previous" href=""
													 onclick="return paginationSubmit('scores', this);">
													&laquo;
													<div id="scores-previous" hidden>{{ scores_variants.previous_page_number }}</div>
												</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<a class="page-link" href="#">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
										{% endif %}
										
										{% for i in scores_page_range %}
											<li class="page-item">
												<a class="page-link {% if scores_variants.number == i %}scores-active{% endif %}" href=""
													 onclick="return paginationSubmit('scores', this);">{{ i }}</a>
											</li>
										{% endfor %}
										
										{% if scores_variants.has_next %}
											<li class="page-item">
												<a class="page-link next" href=""
													 onclick="return paginationSubmit('scores', this);">
													&raquo;
													<div id="scores-next" hidden>{{ scores_variants.next_page_number }}</div>
												</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<a class="page-link" href="">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
					
						{% endif %} <!-- End pagination -->
					{% endif %}				
				</div>
			</div> <!-- End scores data tab -->		

			<!-- Counts data tab -->
			<div class="tab-pane fade" id="counts" role="tabpanel" aria-labelledby="counts-tab">
				<div class="container-fluid mt-4">

					<div class="row mb-4 mt-4">						
						<div class="col-md-3">
							<h3 style="margin: 0;">Counts dataset</h3>
						</div>
					</div>

					{% if not counts_variants %}
						{% if preview %}
							<p> Information hidden in preview mode.</p>
						{% else %}
							<p> No counts data available.</p>
						{% endif %}
					{% else %}
						<div class="col-md-1">
							<a class="download-btn btn btn-sm btn-outline-primary" 
									href="{% url 'scoreset:counts_download' scoreset.accession %}">
								Download
							</a>
						</div>
						
						<div id="counts-table-container" class="numeric-container container-fluid">
							<table id="counts-table" class="styled-table table table-hover">
								<thead>
									<tr>
										{% for column in counts_columns %}
											<th> {{column}} </th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for var in counts_variants %}
										<tr>
											{% for data in var.get_ordered_counts_data %}
												{% if forloop.counter >= 2 %}
													<td> {{ data|floatformat:"-4" }} </td>
												{% else %}
													<td> {{ data }} </td>
												{% endif %}
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<!-- Pagination -->
						{% if counts_variants.has_other_pages %}
							<div class="row">
								<div class="col-md-2 mt-2">
									<form action="?counts-per-page=#counts" method="GET">
										<div class="form-inline">
											<label for="counts-per-page-select"> Variants per page </label>
											<select name="counts-per-page" id="counts-per-page-select" onchange="paginationSubmit('counts')">
												{% for i in per_page_selections %}
													{% if i == counts_per_page %}
														<option value={{i}} selected="">{{i}}</option>
													{% else %}
														<option value={{i}}>{{i}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</form>
								</div>

								<div class="col-md-10">
									<ul class="pagination justify-content-end">
										{% if counts_variants.has_previous %}
											<li class="page-item">
												<a class="page-link previous" href=""
													 onclick="return paginationSubmit('counts', this);">
													&laquo;
													<div id="counts-previous" hidden>{{ counts_variants.previous_page_number }}</div>
												</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<a class="page-link" href="#">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
										{% endif %}
										
										{% for i in counts_page_range %}
											<li class="page-item">
												<a class="page-link {% if counts_variants.number == i %}counts-active{% endif %}" href="" 
													 onclick="return paginationSubmit('counts', this);">{{ i }}</a>
											</li>
										{% endfor %}
										
										{% if counts_variants.has_next %}
											<li class="page-item">
												<a class="page-link previous" href=""
													 onclick="return paginationSubmit('counts', this);">
													&raquo;
													<div id="counts-next" hidden>{{ counts_variants.next_page_number }}</div>
												</a>
											</li>
										{% else %}
											<li class="page-item disabled">
												<a class="page-link" href="#">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %} <!-- End pagination -->
					{% endif %}				
				</div>
			</div> <!-- End counts data tab -->		
		
		</div> <!-- End tab/pills content -->
	</div> <!-- end column --> 
</div> <!-- end row -->
{% endblock body %}