/* ------------------------------------------------------------------------- */
/*                                 Search Box
/* ------------------------------------------------------------------------- */
#keywordSearchForm {
    width: 60%;
    text-align: center;
    align-content: center;
    margin-top: 2em;
}

@media only screen and (max-width: 500px) {
    #keywordSearchForm {
        width: 100%;
        text-align: center;
        align-content: center;
        margin-top: 2em;
    }
}

#advancedSearchForm {
    text-align: left;
    align-content: left;
    margin-top: 2em;
}

/* ------------------------------------------------------------------------- */
/*                               Column Input
/* ------------------------------------------------------------------------- */
.table-hover .input-group .form-control,
.table {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    
    border: 1px solid #18bc9c;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

th {
	background: #AFC8FA;
	padding-left: 4px;
	padding-right: 4px;
}

.table-bordered > tbody > tr > td, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > td, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > thead > tr > th,
.table-bordered,
.table {
	border: 1px solid gray;
}

/* ------------------------------------------------------------------------- */
/*                                 Footer Fix
/* ------------------------------------------------------------------------- */
.footer {
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    background-color: #f5f5f5;
}
