/* ------------------------------------------------------------------------- */
/*                                 Search Box
/* ------------------------------------------------------------------------- */
#basic_search_form {
    width: 60%;
    text-align: center;
    align-content: center;
    margin-top: 3em;
}

@media only screen and (max-width: 500px) {
    #basic_search_form {
        width: 100%;
        text-align: center;
        align-content: center;
        margin-top: 3em;
    }
}

#advanced_search_form {
    text-align: left;
    align-content: left;
}

.panel-body {
    padding-left: 2em;
    padding-right: 2em;
}

.form-group {
    width: auto;
}

/* ------------------------------------------------------------------------- */
/*                               Column Input
/* ------------------------------------------------------------------------- */
#experiment_table .input-group .form-control,
.table {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#experiment_table .filters th .textinput.textInput.form-control {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    max-width: 80%;
    
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#experiment_table td, th, tr {
    word-wrap: break-word;
    max-width: 150px;
}

#experiment_table {
    table-layout: fixed;
    width: 100%;
}


#experiment_table th {
	background: #AFC8FA;
	padding-left: 4px;
	padding-right: 4px;
}

.small_col {
    word-wrap: break-word;
    max-width: 50px; 
}

#results_table {
    margin-top: 2px;
}

/* ------------------------------------------------------------------------- */
/*                            Footer Fix
/* ------------------------------------------------------------------------- */
.footer {
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    background-color: #f5f5f5;
}

/* ------------------------------------------------------------------------- */
/*                         Experiment view   
/* ------------------------------------------------------------------------- */
.inline_label {
    font-size: 18px;
}
.inline_attribute {
    display: inline-block;
}

/* ------------------------------------------------------------------------- */
/*                         Box button  
/* ------------------------------------------------------------------------- */
.box-button {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    
    display:inline-block;
    vertical-align:middle;
    text-align:center;

    color: #2c3e50;
    background-color: #18bc9c;
    border: 2px solid #2c3e50;
}

.box-button:hover {
    color: white;
    border: 2px solid #18bc9c;
    background-color: #2c3e50;
}

.inline-btn-container {
    margin-top: 2%;
    text-align:center;
}